.adminSidebar-horizontal {
  /* width: 100vw; */
  height: 50px;
  text-align: center;
  background-color: blue;
  color: aliceblue;
  overflow: hidden;
}


.adminSidebar{
    background-color: blue;
    width: 150px;
    padding: 10px;
    height: 100vh;
    overflow: hidden;
}

.adminSidebar ul {
  margin-top:40px;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 20px;
  list-style: none;
  align-items: baseline;
}

.administrator{
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.adminSidebar a{
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
.adminSidebar li:nth-child(4){
  cursor: pointer;
}
.adminSidebar li:nth-child(5){
  cursor: pointer;
}

