.loader {
    --color-1: #3007e9;
    --color-2: #000000;
    --color-3: #c70546;
    --color-4: #08f100;
  
    --ball-size: 20px;
    --jump: .75em;
    --diam: calc(2 * var(--jump));
  
    --duration: 1.2s;
  }
  
  .loader {
    min-height: 70%;
    position: relative;
    width: 0;
    height: 0;
    margin: 4em auto;
    animation: anim-rotate var(--duration) infinite ease;
  }
  
  .loader::before,
  .loader::after {
    content: '';
    position: absolute;
    width: var(--ball-size);
    height: var(--ball-size);
    top: 50%;
    left: 50%;
    margin-top: calc(-1 * var(--ball-size) / 2);
    margin-left: calc(-1 * var(--ball-size) / 2);
    border-radius: calc(var(--ball-size) / 2);
    opacity: 0.9;
  }
  
  .loader::before {
    background: var(--color-1);
    transform: translateX(calc(-1 * var(--jump))) translateY(calc(-1 * var(--jump))) scale(1);
    box-shadow: var(--diam) var(--diam) 0 var(--color-2);
    animation: anim-1-2 var(--duration) infinite ease;
  }
  
  .loader::after {
    background: var(--color-3);
    transform: translateX(var(--jump)) translateY(calc(-1 * var(--jump))) scale(1);
    box-shadow: calc(-1 * var(--diam)) var(--diam) 0 var(--color-4);
    animation: anim-3-4 var(--duration) infinite ease;
  }
  
  @keyframes anim-1-2 {
    50% {
      transform: scale(1.3) translate(0, 0);
      box-shadow: 0 0 0 var(--color-2);
      opacity: 0.8;
    }
  }
  
  @keyframes anim-3-4 {
    50% {
      transform: scale(1.3) translate(0, 0);
      box-shadow: 0 0 0 var(--color-4);
      opacity: 0.8;
    }
  }
  
  @keyframes anim-rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }
  