body{
    margin: 0px;
}
.parent-nav{
   background-color:#6096B4;
   margin: 0px;
   color: white;
   position: static;
   height: 50px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-items ul{
    display: flex;
}

.nav-items ul{
    list-style: none;
    gap: 20px; 
}

.nav-items ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;   
}