body {
    margin: 0px;
}

.parent-nav {
    display: flex;
    align-items: center;
    background-color: #6096B4;
    margin: 0px;
    color: white;
    position: static;
    height: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
    width: 100%;
}

.nav-items ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0; 
}

.nav-items ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}


.hamburger {
    display: none; 
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}


@media (max-width: 768px) {

    .nav-items ul{
        gap: 12px;
    }
      
      .nav-items-closed {
        display: none !important;
      }
      
    .nav-items-closed {
        display: none;
      }

    .hamburger {
        display: flex;
    }

    .nav-items-open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        width: 20%;
        background-color: #098bd1fd; 
        margin: 0;
        padding: 0; 
        z-index: +999;
        border-bottom-left-radius: 10px;
    }

    .nav-items-open li {
        margin: 0 10px;
    }

    .line1-open {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .line2-open {
        opacity: 0;
    }

    .line3-open {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

@media(max-width:640px){
    .nav-items-open{
        width: 25%;
    }
}
@media(max-width:500px){
    .nav-items-open{
        width: 35%;
        font-size: small;
    }
}


  