.addNews{
    display: flex;
    flex-direction: column;
    width:calc(100vw - 220px);
    gap:10px;
}
.input-group{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-group textarea{
    resize: none;
}

.threeInput-group{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.addNews button{
    height: 40px;
    background-color: blue;
    border: 0px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.haveNews button{
    height: 40px;
    width: 100%;
    background-color: blue;
    border: 0px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}