.career{
  margin-top: 10px;
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.closeBtn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(255, 0, 179) !important;
  color:white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.closeBtn:hover{
  background-color: rgb(255, 0, 13) !important;
}
