.careerContainer{
  margin-top: 10px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.closeBtn {
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.closeBtn:hover{
  background-color: blue;
}
